body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background: rgb(255, 255, 255);
    color: #000000;
    box-sizing: border-box;
}


nav {
    font-size: 1.2em;
    background-color: #ffffff;
    
    
}


.containergrid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: [startA] 1fr [startM] 3fr [endM] 1fr[endA];
    grid-template-rows: [starttop] 1fr [endbottom];
    justify-content: space-between;
    
}
.left{
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, rgba(103,190,255,1) 0%, rgba(255,0,0,0) 100%);    
    grid-column-start: startA;
    grid-column-end: startM;
    grid-row-start: starttop;
    grid-row-end: endbottom;
    
}
.right{
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, rgba(103,190,255,1) 0%, rgba(255,0,0,0) 100%);    
    grid-column-start: endM;
    grid-column-end: endA;
    grid-row-start: starttop;
    grid-row-end: endbottom;
    
}

article {
    background-color:#ffffff;
    grid-column-start: startM;
    grid-column-end: endM;
    grid-row-start: starttop;
    grid-row-end: endbottom;
    margin-bottom: 200px;
    padding: 20px;
    
    
}
article h1 {
    margin-top: 20px;
}
img {
    margin: 10px;
    display: inline-block;
}
h1 {
    font-family: 'Rasa', serif;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;

}

h2 {
    font-family: 'overpass',sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
    margin-top: 80px;
    margin-bottom: 30px;
    
}

.ulbold
{ font-family: 'overpass',sans-serif;
    font-size: 1em;
   font-weight: bold;
   margin-top: 28px;
   list-style-type: none;
   margin: 0;
   padding: 0;

}

p {
    margin: 5px;
    margin-bottom: 20px;
}

.footerhead
{   font-size: 1em;
    color: #ffffff;
    font-family: 'overpass', sans-serif;
    text-shadow: 0px 3px 3px rgba(7, 17, 24, 0.5);

}
footer {
    background: rgb(103,190,255);
background: linear-gradient(133deg, rgba(103,190,255,1) 0%, rgba(255,255,172,1) 100%);
    margin-top: 100px;
    padding: 20px;
    padding-left: 50px;
}


